* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* vary */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* temp */
img {
  width: 25px;
}

header, main, .dashboard-container {
  border: 1px solid black;
}
/* end temp */

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dashboard-container {
  background-color: rgb(53 146 212);
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px 40px;
}

.dashboard-header a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.dashboard-icon {
  width: 3rem;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: 500;
}

.dashboard-container a,
.dashboard-item {
  display: flex;
  text-decoration: none;
  color: white;
}

.dashboard-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-item {
  gap: 20px;
}

.dashboard-container a img {
  filter: invert(1);
}

.nav-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.dashboard-header a:hover,
.dashboard-item:hover {
  filter:
    sepia(1)
    saturate(100);
}

.dashboard-header a:active,
.dashboard-item:active {
  filter:
    sepia(1)
    saturate(300)
    hue-rotate(230deg);
}